.topmenu {
    background: #ddd;
    position: absolute;
    width: 93%;
}

.widthField {
    border: solid 4px;
    border-color: #ccc;
    width: 100px;
    position: relative;
    top: 5px;
}
.widthField:hover {
    background: #999;
}
.widthField:focus {
    background: #555;
    color: #fff;
}
.widthText {
    position: relative;
    top: 5px;
    left: 30px;
}

.lineIterationsField {
    border: solid 4px;
    border-color: #ccc;
    width: 100px;
    position: relative;
    left: 140px;
    bottom: 41px;
}
.lineIterationsField:hover {
    background: #999;
}
.lineIterationsField:focus {
    background: #555;
    color: #fff;
}
.lineIterationsText {
    position: relative;
    left: 144px;
    bottom: 41;
}
.LIinfoBtn {
    width: 90;
    border: solid 4px;
    border-color: #ccc;
    position: relative;
    bottom: 68px;
    left: 140px;
}
.LIinfoBtn:hover {
    background: #999;
}
.LIinfoBtn:active {
    background: #555;
    color: #fff;
}
.LIinfoBtnTXT {
    position: relative;
    left: 30px;
}
.LIinfo {
    position: relative;
    left: 130px;
    top: 40px;
}


.clear{
    width: 90;
    border: solid 4px;
    border-color: #ccc;
    position: relative;
    bottom: 40px;
}
.clear:hover {
    background: #999;
}
.clear:active {
    background: #555;
    color: #fff;
}
.clearTXT {
    position: relative;
    left: 28;
}

.colorParent {
    width: 100px;
    position: relative;
    bottom: 243px;
    left: 270px;
}
.hex {
    width: 100;
    border: solid 4px;
    border-color: #ccc;
}
.hex:hover {
    background: #999;
}
.hex:focus {
    background: #555;
    color: #fff;
}
.hexTXT {
    position: relative;
    left: 36px;
}

.drawSquare {
    border: solid 4px;
    border-color: #ccc;
    width: 90px;
    height: 18px;
    position: relative;
    left: 400px;
    bottom: 289px;
}
.drawSquare:hover {
    background: #999;
}
.drawSquare:active {
    background: #555;
    color: #fff;
}
.drawSquareTXT {
    position: relative;
    left: 3px;
    bottom: 1px;
}

.drawCircle {
    border: solid 4px;
    border-color: #ccc;
    width: 85px;
    height: 18px;
    position: relative;
    left: 530px;
    bottom: 315px;
}
.drawCircle:hover {
    background: #999;
}
.drawCircle:active {
    background: #555;
    color: #fff;
}
.drawCircleTXT {
    position: relative;
    left: 3px;
    bottom: 1px;
}

.drawLine {
    border: solid 4px;
    border-color: #ccc;
    width: 75px;
    height: 18px;
    position: relative;
    left: 655px;
    bottom: 341px;
}
.drawLine:hover {
    background: #999;
}
.drawLine:active {
    background: #555;
    color: #fff;
}
.drawLineTXT {
    position: relative;
    left: 3px;
}


.menu {
    background: #eee;
    width: 100px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    color: black;
}
.menu:hover {
    background: #999;
}
.menu:hover .menucontent {
    display: block;
}
.menuTXT {
    width: 10px;
    position: relative;
    left: 30px;
    top: 13px;
}
.menucontent {
    display: none;
    position: absolute;
    top: 49px;
    background: #eee;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menucontent div {
    color: #000;
    padding: 12px 16px;
    display: block;
}
.menucontent div:hover {
    background: #999;
}
.menucontent div:active {
    background: #555;
    color: #fff;
}

.startappbtn {
    background: #eee;
    color: #000;
    width: 100px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
}
.startappbtn:hover {
    background: #999;
}
.startappbtn:active {
    background: #444;
    color: #fff;
}
.startappbtnTXT {
    position: relative;
    top: 15px;
    left: 19px;
}
